body {
    font-family: "Roboto", sans-serif;
     text-decoration: none;
     color: #434455;
     letter-spacing: 0.02em;
     background-color: #ffffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}



.logo {
    width: 115px;
    height: 24px;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
 
.logo .logo-accent{
color: #4d5ae5;
}

.link {
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.email {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.phone {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.email:hover {
    color: #4D5AE5
 }
 .email:focus {
     color: #4D5AE5;
 }
 .phone:hover {
     color: #4D5AE5
 }
 .phone:focus {
    color: #4D5AE5
 }

.main-container-head {
    width: 1440px;
    height: 600px;
    background: #2e2f42;
}

.main-header {
        font-size: 56px;
        line-height: 60px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.main-button {
    border-radius: 4px;
    background: #4d5ae5;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.main-button:hover {
color: #404BBF;
}
.main-button:focus {
color: #4D5AE5
}

.main-page-descr-item {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.about-item {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.main-page-team {
    background: #f4f4fd;
}
.team-header  {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.main-page-team-descr {
        background: #fff;
}

.team-name {
    background: #fff;
}


.team-descr {

        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}



.main-page-header-portfolio {
        font-size: 36px;
        line-height: 0.666;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.portfolio-descr {
width: 360px;
height: 420px;
background: #fff;
}

.name-portfolio {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.name-portfolio-descr {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.main-page-footer {
    background: #2e2f42;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.333;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
            
}
.logo-footer .logo-footer-accent {
    color: #4d5ae5;
}

.descr-footer {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}


.link:hover {
    color: #4D5AE5;
}

.link:focus {
    color: #4D5AE5;
}
address {
font-style: normal
}
