body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

.main-page-links {
    width: 1440px;
    height: 72px;
    display: flex;
    
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 156px;
}

.nav {
    width: 261px;
    height: 24px;
    display: flex;
    display: flex;
    padding-left: 76px;
}
.nav ul {
list-style: none;
display: flex;
gap: 40px;
}

.contacts ul {
    list-style: none;
    display: flex;
    gap: 40px;
}
 
.email {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-left: 332px;
}
 
.phone {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-left: 40px;
        padding-right: 150px;
}

ul {
    list-style-type: none;
}

.main-container-head {
    width: 1440px;
    height: 600px;
    background: #2e2f42;
}

.main-header {
    font-weight: 700;
        font-size: 56px;
        line-height: 0.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.main-button {
    border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        cursor: pointer;
        
}

.main-button:hover {
color: #404BBF;
}

.main-page-descr {
    width: 1128px;
    height: 104px;  
    display: flex;
}

.about-strategy, .about-punktuality, .about-diligence, .about-techno  {
    width: 264px;
    height: 104px;
}

.main-page-descr-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.about-item {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.main-page-descr ul {
    list-style-type: none;
    display: flex;
}



.main-page-team {
    width: 1440px;
    height: 732px;
    background: #f4f4fd;
    display: flex;
}
.team-header  {
    font-weight: 700;
        font-size: 36px;
        line-height: 0.666;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.main-page-team-descr {
border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
}

.team-name {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.main-page-portfolio {
    width: 1128px;
    height: 1000px;
    display: flex;
}

.main-page-header-portfolio {
    font-weight: 700;
        font-size: 36px;
        line-height: 0.666;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.portfolio-descr {
width: 360px;
height: 420px;
background: #fff;
}

.name-portfolio {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.name-portfolio-descr {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.main-page-footer {
    width: 1440px;
    height: 312px;
    background: #2e2f42;
    display: flex;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.333;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 24px;
        margin-bottom: 24px;
        padding-left: 156px;
}

.descr-footer {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}


.nav ul li a:hover {
    color: #4D5AE5;
}

.nav ul li a:focus {
    color: #4D5AE5;
}